table .image img {
    height: auto;
    max-width: 100%;
}

.custom-switch {
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     cursor: default;
     display: -ms-inline-flexbox;
     display: inline-flex;
     -ms-flex-align: center;
     align-items: center;
     margin: 0;
 }

.custom-switch--block {
    display: block;
    width: 100%;
}

.custom-switch-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-switch-indicator {
    display: inline-block;
    height: 1.25rem;
    width: 2.25rem;
    background: #e9ecef;
    border-radius: 50px;
    position: relative;
    vertical-align: bottom;
    border: 1px solid rgba(0, 40, 100, 0.12);
    transition: .3s border-color, .3s background-color;
}

.custom-switch-indicator:before {
    content: '';
    position: absolute;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 50%;
    transition: .3s left;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.custom-switch-input:checked ~ .custom-switch-indicator {
    background: #467fcf;
}

.custom-switch-input:checked ~ .custom-switch-indicator:before {
    left: calc(1rem + 1px);
}

.custom-switch-description {
    margin-left: .5rem;
    color: #6e7687;
    transition: .3s color;
}

.custom-switch-input:checked ~ .custom-switch-description {
    color: #495057;
}

.hidden {
    display: none;
}

.page-tree {

    .tree-node-inner {
        position: relative;
        background-color: #ffffff;
        font-size: 0.75rem;
        line-height: 1rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

        &:hover {
            background-color: rgba(238.42499999999995,242.25,246.07500000000002);
        }
    }

    .draggable-placeholder-inner {
        border: 1px dashed #0088F8;
        background: rgba(0, 136, 249, 0.09);

        * { display: none; }
    }


    .page-move {
        width: 1.5rem;
        border-right-width: 1px;
        cursor: grab;
        background: rgba(238,242,246,.5) url('../../img/drag-dots.svg') center center no-repeat;
        &:hover {
            background-color: rgba(238.42499999999995,242.25,246.07500000000002);
        }
    }

    .page-root {
        background: rgba(238,242,246,.5);
        display: flex;
        display: flex;
        align-items: center;
        width: 1.5rem;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-right-width: 1px;
    }
    .flex-1 {
        flex: 1 1 0%!important;
    }
    .items-center {
        align-items: center!important;
    }

    .border-grey-60 {
        --border-opacity: 1!important;
        border-color: #a7b3be!important;
        border-color: rgba(167.02499999999998,178.5,189.975,var(--border-opacity))!important;
    }

    .little-dot {
        border-radius: 7px;
        display: inline-block;
        height: 7px;
        position: relative;
        width: 7px;
        flex-shrink: 0;
    }

    .text-sm {
        font-size: 15px!important;
    }
    .font-medium {
        font-weight: 500!important;
    }

    .text-grey-60 {
        --text-opacity: 1!important;
        color: #a7b3be!important;
        color: rgba(167.02499999999998,178.5,189.975,var(--text-opacity))!important;
    }

    .text-xs {
        font-size: 13px!important;
    }

    .leading-normal {
        line-height: 1.5!important;
    }
}

.w-full {
    width: 100%!important;
}

.max-w-3xl {
    max-width: 80rem!important;
}

@media (min-width: 768px) {
    .page-wrapper {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-wrapper {
    padding: 24px 12px 12px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

@mixin width {
    width: auto !important;
}
table {
    &.table-fit {
        width: 100%;
        table-layout: fixed !important;
        thead th, tfoot th  {
            @include width;
        }
        tbody td, tfoot td {
            @include width;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }
}
