/* =======================================================================
   Fonts
   ======================================================================= */

   :root {
    --brand-primary: #0627EE !important;

    --tw-gray-50: hsl(240, 5%, 98%);
    --tw-gray-100: hsl(240, 5%, 95%);
    --tw-gray-200: hsl(240, 5%, 89%);
    --tw-gray-300: hsl(240, 4%, 76%);
    --tw-gray-400: hsl(240, 4%, 64%);
    --tw-gray-500: hsl(240, 3%, 47%);
    --tw-gray-600: hsl(240, 4%, 35%);
    --tw-gray-700: hsl(240, 4%, 26%);
    --tw-gray-800: hsl(240, 5%, 16%);
    --tw-gray-900: hsl(240, 5%, 10%);
    --tw-gray-950: hsl(240, 5%, 5%);
  }

  html[data-theme='light'] {
    --background-color: var(--tw-gray-200);
    --text-color: var(--tw-gray-900);
    --panel-color: white;
    --background-color-invert: var(--tw-gray-900);
    --text-color-invert: var(--tw-gray-100);
  }

  html[data-theme='dark'] {
    --background-color: var(--tw-gray-900);
    --text-color: var(--tw-gray-100);
    --panel-color: var(--tw-gray-100);
    --background-color-invert: var(--tw-gray-100);
    --text-color-invert: var(--tw-gray-900);
  }

  * {
    font-family: "Geist Sans", sans-serif;
  }

  @font-face {
      font-family: 'Geist Sans';
      src: url('../fonts/Geist-Variable.woff2') format('woff');
      /* Add more font formats if needed */
      /* Specify other font properties if desired, like font-weight and font-style */
      font-weight: 400;
  }

  body {
    background: var(--tw-gray-200);
    color: var(--text-color);
    font-size: 14px !important;
  }

  /* =======================================================================
     Fonts
     ======================================================================= */

  a,
  .text-hover-primary:hover {
    color: var(--brand-primary) !important;
  }
  .text-muted {
    color: var(--tw-gray-500) !important;
  }
  .text-color-invert {
      color: var(--text-color-invert) !important;
  }
  .bg-color-invert {
      background-color: var(--background-color-invert) !important;
  }
  .link-primary {
      color: var(--brand-primary) !important;
  }
  .link-primary:hover {
    color: var(--brand-primary) !important;
    text-decoration: underline;
  }

  .bg-panel {
      background-color: var(--panel-color);
  }

  /* =======================================================================
     Header
     ======================================================================= */
  @media screen and (min-width: 992px) {
    .header {
      display: none !important;
    }
  }
  .header .toolbar {
    display: none !important;
  }
  .header .header-brand {
    position: relative;
    background: var(--tw-gray-200);
  }
  .header .header-brand .btn-icon {
    margin-left: .35rem;
  }



  /* =======================================================================
     Aside
     ======================================================================= */

  .aside {
    color: var(--text-color);
    top: 0;
    background: var(--tw-gray-200);
  }

  /* Aside Brand */
  .aside .aside_brand {
    padding: 2rem 1.5rem 1.25rem 1.5rem;
  }
  .aside .aside_brand span {
    font-size: 1rem;
    color: var(--text-color);
  }
  .aside .aside_brand h4 {
    font-size: 3rem;
    font-weight: 600;
  }

  /* Aside Toolbar */
  .aside .aside-toolbar {
    border-top: none;
  }
  .aside .aside-toolbar .aside-user {
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 1rem;
  }
  .aside .aside-toolbar .aside-user .aside-user-info>div>div>a {
    color: #162B3A;
    font-weight: 700 !important;
  }

  /* Circle Divider */
  .circle-divider {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--text-color);
    display: block;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /* Menu Wrapper */
  #kt_aside_menu_wrapper {
      height: 100% !important;
      padding-bottom: 4rem !important;
  }
  .aside-menu .menu > .menu-item {
    padding: 0;
  }
  .aside-menu .menu .menu-item .menu-link {
    padding: 0.75rem 1.5rem !important;
  }
  .aside-menu .menu .menu-item .menu-link .menu-title {
    color: var(--tw-gray-500);
    font-weight: 600;
    transition: ease-in-out .25s color;
    font-size: 15px;
  }
  .aside-menu .menu .menu-item.show > .menu-link .menu-title {
    color: var(--tw-gray-500) !important;
  }
  .aside-menu .menu .menu-item.show > .menu-link .menu-arrow:after {
    background-color: var(--tw-gray-500) !important;
  }
  .aside-menu .menu .menu-item:not(.here) .menu-link:hover .menu-title {
    color: var(--text-color) !important;
  }
  .aside-menu .menu .menu-item:not(.here) .menu-link:hover .menu-arrow:after {
    background-color: var(--text-color) !important;
  }
  .aside-menu .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-title {
    color: var(--tw-gray-500) !important;
  }
  .aside-menu .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-arrow:after {
    background-color: var(--tw-gray-500) !important;
  }

  .aside-menu .menu .menu-item .menu-link.active {
    background: transparent;
    color: var(--text-color);
  }
  .aside-menu .menu .menu-item .menu-link.active .menu-title {
    color: var(--text-color);
  }

  .aside-menu .menu-sub .menu-item .menu-link {
    padding: 0.5rem 1.5rem !important;
  }
  .aside-menu .menu-sub .menu-item a {
    margin-left: 1.5rem;
  }

  /* =======================================================================
     Content
     ======================================================================= */

  .app-toolbar {
    display: none !important;
  }
  .content {
    padding: 0;
    margin: 0 1.5rem 1.5rem 1.5rem !important;
  }
  @media screen and (min-width: 992px) {
    .content {
      padding: 0.5rem 0;
      margin: 1.5rem 1.5rem 1.5rem 0.5rem !important;
    }
  }


  /* =======================================================================
     Dropdown Menu
     ======================================================================= */

  .dropdown-menu {
    padding: 0.5rem;
  }

  /* =======================================================================
     Alert
     ======================================================================= */

  .alert svg {
    margin-right: 0.5rem;
  }

  /* =======================================================================
     Card
     ======================================================================= */

  .card {
      background-color: var(--panel-color);
      border-radius: 2rem;
      padding: 1.5rem;
  }
  @media screen and (min-widtH: 768px) {
    .card {
      padding: 2.5rem;
    }
  }

  .card .card-header {
    border-bottom: none !important;
    padding: 0 !important;
    min-height: 50px;
  }
  .card .card-header .card-toolbar {
    margin: 0;
  }

  .card .card-header .card-title {
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
  }
  @media screen and (min-widtH: 768px) {
    .card .card-header .card-title {
      font-size: 2.5rem;
    }
  }

  .card .card-body {
    padding: 1.25rem 0 0 0;
  }
  @media screen and (min-widtH: 768px) {
    .card .card-body {
      padding: 2rem 0 0 0;
    }
  }

  .card-flush .card-header .card-toolbar .nav .nav-link {
      border-radius: 100px !important;
  }

  .card-flush .card-header .card-toolbar .nav .nav-link[aria-selected="true"] {
      background-color: var(--brand-primary) !important;
      color: white !important;
  }

  .card-flush .card-header .card-toolbar .nav .nav-link[aria-selected="false"] {
      background-color: white !important;
      border: 1px solid var(--brand-primary) !important;
      color: var(--brand-primary) !important;
  }

  .card-footer {
    border-top: 1px solid var(--tw-gray-200);
  }


  /* =======================================================================
     Components
     ======================================================================= */

  .btn {
      padding: .75rem 1.5rem !important;
      font-size: 1rem !important;
      font-weight: 600;
      color: var(--tw-gray-100);
      border-radius: 100px !important;
  }

  /* Btn Outline */
  .btn-outline {
      background-color: transparent !important;
      color: var(--brand-primary);
      border-color: var(--brand-primary) !important;
  }
  .btn-outline i {
      color: var(--brand-primary);
      transition: .3s;
  }
  .btn-outline:hover {
      background-color: var(--brand-primary) !important;
      color: var(--tw-gray-100);
  }
  .btn-outline:hover i {
      color: var(--tw-gray-100);
  }

  /* Btn Primary */
  .btn-primary {
      background: var(--brand-primary) !important;
      color: var(--tw-gray-200) !important;
      border: 1px solid var(--brand-primary) !important;
      transition: opacity .3s;
  }
  .btn.btn-primary:hover:not(.btn-active) {
      background: var(--brand-primary) !important;
      color: var(--tw-gray-200) !important;
      border: 1px solid var(--brand-primary) !important;
      opacity: .8 !important;
  }
  .btn.btn-primary i,
  .btn.btn-primary .svg-icon {
      color: var(--tw-gray-200) !important;
  }

  /* Btn Filter */
  .btn-filter {
      color: var(--tw-gray-900) !important;
  }

  /* Btn Icon */
  .btn-icon {
    /* background: none !important; */
  }

  .btn-success, .btn.btn-success:hover {
    color: white !important;
  }



  /* =======================================================================
     Form Control
     ======================================================================= */

  .form-control {
      font-size: 1rem;
      font-family: "Geist Sans", sans-serif;
      color: black;
      border: 1px solid var(--tw-gray-400);
  }
  .form-control:focus {
      border: 1px solid var(--brand-primary);
      color: black;
  }
  ::placeholder {
      color: var(--tw-gray-400);
  }

  /* form control with prefix */
  .form-control.left-prefix {
      display: flex;
      align-items: center;
      gap: .75rem;
  }
  .form-control.left-prefix input {
      color: #333;
      flex: 1;
      border: none;
  }
  .form-control.left-prefix input:focus {
      outline: none;
  }
  .form-control.left-prefix:focus-within {
      border: 1px solid #000 !important;
  }
  .form-control.left-prefix .input-prefix .svg-icon,
  .form-control.left-prefix .input-prefix .svg-icon i {
      color: var(--tw-gray-400);
  }

  .form-group label {
    font-size: 0.9rem;
    color: var(--tw-gray-600);
    margin-bottom: .25rem;
  }

  .fv-plugins-icon-container .text-muted {
    margin-top: .25rem;
  }

  .wrapper {
      padding-top: 0px !important;
  }

  /* =======================================================================
     Toast
     ======================================================================= */

  #toastr-container {
      width: 100% !important;
  }
  #toastr-container > .toastr-success {
      margin-top: 25px !important;
      margin-right: 12px !important;
      float: right;
  }
  .toastr .toastr-success {
      float: right !important;
  }



  /* =======================================================================
     Table
     ======================================================================= */

  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
      background-color: var(--brand-primary);
  }
  .table tr, .table th, .table td {
    vertical-align: middle;
  }


  /* =======================================================================
     Auth
     ======================================================================= */

  .auth-container {
    height: 100vh;
    width: 100%;
    padding: 0 1.25rem;
    background: var(--tw-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .auth-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .auth-box {
    width: 100%;
    background: #ffffff;
    padding: 1.75rem;
    border-radius: 2rem;
  }
  @media screen and (min-width: 768px) {
    .auth-box {
      padding: 2rem;
      width: 500px;
    }
  }
  .auth-box-header {
    padding-top: .5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .auth-box-header.login p {
    margin-bottom: 0.25rem;
  }
  .auth-box-header.login h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .auth-box-forgot {
    font-size: .9rem;
    text-align: right;
    margin-bottom: 1.5rem;
  }
  .auth-footer {
    text-align: center;
    opacity: .75;
    margin: 1rem auto 0;
    font-size: .9rem;
  }
  .auth-footer a {
    color: black !important;
  }
  .auth-footer a:hover {
    text-decoration: underline !important;
  }

  /* =======================================================================
     Footer
     ======================================================================= */

  .footer {
    display: none !important;
  }

